<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxjqr.ssm_demo.mapper.ProductMapper"> <!-- 这里一定要是全路径名哦 -->
	
	<!--&lt;!&ndash; 获取所有商品 &ndash;&gt;-->
	<!--<select id="getProductsWithQuery" parameterTycom.xxjqr.ssm_demox.pojo.ProductQuery" resultTycom.xxjqr.ssm_demox.pojo.Product" resultMap="product">-->
		<!--SELECT p.id,p.num,p.brand_id,p.name,p.description,p.stock,p.sale,p.online,b.name as brand from products p LEFT JOIN brands b on p.brand_id = b.id-->
		<!--<where>-->
			<!--<if test="brand != null">-->
				<!--p.brand_id=(select id from brands where name=#{brand})-->
			<!--</if>-->
			<!--<if test="productName != null">-->
				<!--and p.name=#{productName}-->
			<!--</if>-->
		<!--</where>-->
		 <!--limit #{startRow},#{pageSize};-->
	<!--</select>-->
	<!--&lt;!&ndash; 虽然返回的是list，但是类型还是选string &ndash;&gt;-->
	<!---->
	<!---->
	<!--&lt;!&ndash; 获取信息总条数 &ndash;&gt;-->
	<!--<select id="getCountByQuery" resultType="Integer" parameterTycom.xxjqr.ssm_demox.pojo.ProductQuery">-->
		<!--select count(1) from products-->
		<!--<where>-->
			<!--<if test="brand != null">-->
				<!--brand_id=(select id from brands where name=#{brand})-->
			<!--</if>-->
			<!--<if test="productName != null">-->
				<!--and name=#{productName}-->
			<!--</if>-->
		<!--</where>-->
	<!--</select>-->
	<!---->

	<!--&lt;!&ndash; 根据id删除商品（切记，删除语句不能写resultType） &ndash;&gt;-->
	<!--<delete id="delProductById" parameterType="Integer">-->
		<!--delete from products where id=#{id};-->
	<!--</delete>-->
	<!---->
	<!--&lt;!&ndash; 根据id获取商品  &ndash;&gt;-->
	<!--<select id="getProductById" parameterType="Integer" resultTycom.xxjqr.ssm_demox.pojo.Product" resultMap="product">-->
		<!--SELECT p.id,p.brand_id,p.num,p.name,p.description,p.stock,p.sale,p.online,b.name as brand from products p LEFT JOIN brands b on p.brand_id = b.id where p.id = #{id};-->
	<!--</select>-->
	<!---->
	<!--&lt;!&ndash; 根据id更新商品 &ndash;&gt;-->
	<!--<update id="updateProduct" parameterTycom.xxjqr.ssm_demox.pojo.Product">-->
		<!--update products set name=#{name},num=#{num},description=#{description},brand_id=#{brandID},stock=#{stock},sale=#{sale},online=#{online} where id=#{id};-->
	<!--</update>-->


	<resultMap id="product_ref" type="com.xxjqr.ssm_demo.pojo.Product">
		<result column="brand_id" property="brandId"/>
	</resultMap>

	<select id="selectByCond" parameterType="com.xxjqr.ssm_demo.pojo.ProductCond" resultMap="product_ref">
		select * from t_product
		<!--<where>-->
			<!--<if test="keyword!=null and keyword!=">-->
				<!--and name like CONCAT('%',#{keyword},'%')-->
			<!--</if>-->
		<!--</where>-->
		ORDER BY create_time DESC
	</select>
</mapper>